<h1 >All recipe <h1>

<table>
         <%= link_to 'create new recipe', new_recipe_path%> 
    <tr>
        <th> Title </th>
        <th> Title </th>
    </tr>

    <% @recipe.each do |recipe|%>
    <tr>
        <td> <%= recipe.title%> </td>
        <td> <%= recipe.description%> </td>
        <td> <%= link_to 'show', recipe_path(recipe)%> </td>
        <td> <%= link_to 'Edit', edit_recipe_path(recipe)%> </td>
        <td> <%= link_to 'Delete', recipe_path(recipe), method: :delete, data:{confirm: "are you sure?"}%> </td>

 </tr> 
     <% end %>



    </tr>    